
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.heading{
	font-size: max(7vw, 100px);
	font-family: 'Montserrat', sans-serif;

}

.sub{
	font-size: max(2vw, 30px);
	font-family: 'Montserrat', sans-serif;
}